/* Global Rules */
* {
  font-family: helvetica, sans-serif;
  color: white;
}

html {
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Entire Page */

#page {
  flex-direction: column;
  display: flex;
}

/* Section - Header */

header {
  background-color: black;
}

header img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header h3 {
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

#headerlogo {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

/* Section - Main */

#main {
  background-image: url(../moto.jpeg);
  width: auto;
  height: 25rem;
  background-size: cover;
  align-items: center;
}

.main_text {
  padding: 2em 3em;
  width: 20rem;
  height: auto;
  background-color: black;
  margin-top: 9rem;
}

#main h3 {
  font-size: 1rem;
  font-weight: bold;
}

#main h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

/* Section - Navigation */

#nav {
  background-color: firebrick;
}

#navlist {
  justify-content: space-between;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  flex-wrap: wrap;
  display: flex;
}

/* Products & Locations */

#products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.products img {
  height: 9rem;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: contain;
}

#pen,
#watch,
#glasses {
  border: 4px solid black;
  margin-top: 3rem;
  width: 30%;
}

#pen img,
#watch img,
#glasses img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#pen h3,
#watch h3,
#glasses h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#location {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

#locationheader,
#hoursheader {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
}

#geo,
#hours {
  width: 35%;
}

/* Section - Footer */

footer {
  background-color: black;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 5rem;
}
